html, body {
  width: 100%;
  height: 100%;
  background-color: #EBEAEB;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  flex: 1;
  flex-direction: row;
}

main {
  display: flex;
  flex: 8;
  flex-direction: column;
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
}


h1{
  text-align: center;
  
}


.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #A1E5AB;
  border: thick double #f49e4c;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
  color: #4A6670;
}

.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #f49e4c;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #4A6670;
  
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #f49e4c;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
.form-style input[type=adresse],
.form-style input[type=téléphone],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style input[type=adresse]:focus,
.form-style input[type=téléphone]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #0e0f0f;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.levitation {
    width: 20%;
    position: absolute;
    top: 39em;
    left: 1em;
    transform: rotate(15deg);
    filter: drop-shadow(22px -15px 5px rgba(0, 0, 0, 0.5));
    animation: bouge 8s infinite alternate-reverse;
  }

  .levitation2 {
    width: 10%;
    position: absolute;
    top: -2em;
    right: 0.5em;
    transform: rotate(15deg);
    filter: drop-shadow(22px -15px 5px rgba(0, 0, 0, 0.5));
    animation: anim 3s infinite alternate-reverse;
  }


  @keyframes bouge {
    /*starting point and angle (same angle as choosen into .levitation)*/
    from {
      transform: translateY(50px) rotate(15deg);
    }
    /* ending point and angle */
    to {
      transform: translateY(100px) rotate(30deg);
    }
  }

  @keyframes anim {
    /*starting point and angle (same angle as choosen into .levitation)*/
    from {
      transform: translateY(50px) rotate(30deg);
    }
    /* ending point and angle */
    to {
      transform: translateY(100px) rotate(45deg);
    }
  }