.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    height: 100%;
}

.login, .register{
    background-color: var(--main-bg-color);
}

.container h3, label{
    color: var(--title-color);
}

.btn-login, .btn-signin{
    background-color: var(--custom-primary);
}

.btn-login:hover, .btn-signin:hover{
    background-color: var(--custom-secondary);
}

hr{
    border-color: black;
}

