/* *** GENERAL *** */

.main {
    background-color: var(--main-bg-color);
    padding: 2% 5%;
    font-size: 28px;
}

.small {
    font-size: 16px;
}

.light {
    font-weight: 100;
}



/* *** TITLES *** */

.title-ctn {
    width: 100%;
    display: flex;
    white-space: wrap;
    flex-direction: column;
    margin-bottom: 2%;
}

.title-custom-secondary {
    font-size: 32px;
    color: var(--title-color);
}

.subtitle {
    font-size: 20px;
    color: var(--custom-secondary);
}

.fa {
    margin-right: 1%;
}


/* *** DISPLAY *** */

.cards-dp {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/* *** CARDS *** */
.link-restau {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    width: 30%;
    height: 350px;
    margin: 2% 0;
    color: var(--text-color);
    border-radius: 5%; 
    border: 4px dotted var(--custom-secondary);
    padding: 5px;
    cursor: pointer;
    transition: transform 200ms ease-out;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--custom-primary);
    border-radius: 5%;  
    display: flex;
    flex-direction: column;
}

.link-restau:hover {
    transform: scale(1.1);
}

.card-txt {
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fa-solid {
    margin-right: 10px;
}



/* *** MEDIA QUERIES *** */

@media (max-width: 1200px) {
    .link-restau {
        width: 45%;
        margin: 5% 0;
    }
}

@media (max-width: 740px) {
    .main {
        padding: 5% 10%;
    }
    .link-restau {
        width: 100%;
        height: 400px;
    }
}